name: Build Linux
on:
  push:
    branches:
      - master
      - 'feature/*'
    tags:
      - 'v*'
jobs:
  build:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - name: Fix up git URLs
        run: echo -e '[url "https://github.com/"]\n  insteadOf = "git@github.com:"' >> ~/.gitconfig
        shell: bash
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install clang ninja-build git ladspa-sdk freeglut3-dev g++ libasound2-dev libcurl4-openssl-dev libfreetype6-dev libjack-jackd2-dev libx11-dev libxcomposite-dev libxcursor-dev libxinerama-dev libxrandr-dev mesa-common-dev libwebkit2gtk-4.1-dev xvfb
      - name: Build plugin
        run: |
          # Build
          cmake -B build -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++
          cmake --build build --config Release

          # Strip debug symbols
          strip build/Piano_artefacts/VST/libPiano.so
          strip build/Piano_artefacts/VST3/Piano.vst3/Contents/x86_64-linux/Piano.so
          strip build/Piano_artefacts/LV2/Piano.lv2/Piano.so

          # Package
          mkdir -p ci/bin
          cd ci/bin
          mkdir -p lv2 vst vst3

          cp -R "../../build/Piano_artefacts/LV2/Piano.lv2" lv2/
          cp -R "../../build/Piano_artefacts/VST/libPiano.so" "vst/Piano.so"
          cp -R "../../build/Piano_artefacts/VST3/Piano.vst3" vst3/

          # Create zip
          zip -r Piano_Linux.zip vst/Piano.so vst3/Piano.vst3 lv2/Piano.lv2

          # Upload to socalabs on release tag
          if [[ "$GITHUB_REF" == refs/tags/v* ]]; then
            curl -F "files=@Piano_Linux.zip" "https://socalabs.com/files/set.php?key=$APIKEY"
          fi
        shell: bash
        env:
          APIKEY: ${{ secrets.APIKEY }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Piano_Linux
          path: ci/bin/*.zip
          retention-days: 30
      - name: Upload to GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: ci/bin/*.zip
